echo "# Jojo94400" >> LISEZMOI.md 
git init 
git add LISEZMOI.md 
git commit -m "first commit" 
git branch -M main 
git remote add origin https://github.com/Jojo94400/Jojo94400.git
 git push - votre origine principale
